.layout-wrapper {
    position: relative;
    overflow-y: hidden;
}

.side-menu {
    top: 75px;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: rgb(219, 206, 249);
    z-index: 5;
}

.content {
    height: 100%;
    margin-top: 180px;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.menu-list .css-10hburv-MuiTypography-root{
    color: white;
    font-size: 1.6em;
    font-weight: 700;
}

.menu-list .css-1nxmd3h-MuiListItem-root {
    justify-content: center;
}

.menu-list a {
    text-decoration: none;
}

.menu-list .MuiSvgIcon-root {
    fill: white;
    height: 1.6em;
    width: 1.6em;
}