.book-wrapper {
    width: 260px;
    border: 1px solid grey;
    min-height: 350px;
    border-radius: 5px;
    color: black;
}

.book-preview-image {
    width: 260px;
}

.book-title {
    font-size: 21px;
    margin: 0 0 10px;
}

.book-description {
    max-width: 260px;
    height: 100%;
    padding: 10px;
}

.book-author {
    font-style: italic;
}